<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('components/head') %>
    <title>Notes</title>
</head>
<body>
<div class="container">

        <h2 class="welcome-title">Створюйте свої нотатки та списки справ!</h2>

    <%- include('components/cat')%>
    <button type="button" id="addNoteButton" class="btn btn-warning mb-2"><i class="far fa-comment-alt"></i>Додати нотатку</button>
    <button type="button" id="addListButton" class="btn btn-success mb-2"><i class="far fa-check-square"></i>Додати список справ</button>
    <!--Display the note list-->
    <div class="card-columns mt-2" id="notesList">
        <!--Card note/list-->
        <% notes.forEach((elem) => { %>
            <div class="card home-page" data-type="<%= elem.type %>" id="<%= elem.id%>">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"> <%= elem.title %> </h5>
                    <% if (elem.body) { %>
                            <ul class="list-group list-group-flush">
                            <% elem.body.forEach(item => { %>
                                    <% if(item.check) { %>
                                        <li class=" list-group-item"> <span  class="mr-3">&#10003;</span><span class="list-text crossed-text"><%= item.todo %></span></li>
                                    <% } else{%>
                                        <li class="list-group-item"> <span class="mr-3">&#9723;</span><span class="list-text"><%= item.todo %></span></li>
                                    <% } %>
                            <% }) %>
                            </ul>
                    <% } else { %>
                        <p class="card-text"> <%= elem.text %></p>
                    <% } %>
                </div>
            </div>
        <% })%>

    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>