
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('components/head') %>

    <title>Your note</title>
</head>
<body>
<h2 class="welcome-title">
    Тут може бути ваша нотатка
</h2>

<%- include('components/cat')%>

<div class="container">
    <div class="card" style="width: 18rem;" id="<%= nts.id %>" >
        <div class="card-body">
            <div class="text-right">
                <button type="button" class="btn btn-danger mb-3" id="deleteNoteBtn"> Delete </button>
            </div>
            <h5 class="card-title"> <%= nts.title %> </h5>
            <p class="card-text"> <%= nts.text %></p>
            <div class="row">
                <div class="col">
                    <a href="/" class="btn btn-primary">Go back</a>
                </div>
                <div class="col text-right">
                    <button class="btn btn-warning" id="editNoteBtn">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/note-detailed.js"></script>
</body>
</html>